@font-face{
	font-family: 'PT Sans Bold';
	src: url('../fonts/roboto.woff2') format('woff2'), url('../fonts/roboto.woff') format('woff');
}
@font-face{
	font-family: 'PT Sans Bold';
	src: url('../fonts/robotobold.woff2') format('woff2'), url('../fonts/robotobold.woff') format('woff');
}
@font-face{
	font-family: 'PT Sans';
	src: url('../fonts/robotomedium.woff2') format('woff2'), url('../fonts/robotomedium.woff') format('woff');
}

/**********************************************************/
/*  ЦВЕТА */
/* Tomat - #fb565a */
/* Salad - #00ca74 */
/* Gold  - #efc849 */
/* Sky   - #009de0 */
/* Grey  - #cccccc */
/* darke Grey - #a6a6a6 */
/* white, black */
/**********************************************************/