@font-face{
	font-family: 'Roboto Regular';
	src: url('../fonts/roboto.woff2') format('woff2'), url('../fonts/roboto.woff') format('woff');
}
@font-face{
	font-family: 'Roboto Bold';
	src: url('../fonts/robotobold.woff2') format('woff2'), url('../fonts/robotobold.woff') format('woff');
}
@font-face{
	font-family: 'Roboto Medium';
	src: url('../fonts/robotomedium.woff2') format('woff2'), url('../fonts/robotomedium.woff') format('woff');
}

/**********************************************************/

/*стиль для доступного скрытия*/
.common--hidden:not(:focus):not(:active),
input[type="checkbox"].g--hidden,
input[type="radio"].g--hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* BUTTONS */
.button{
	color: white;
	font-family: 'Roboto Medium', Arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	background-color: #a6a6a6;
	text-decoration: none;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	border-radius: 3px;
}
.button:active{
	color: rgba(255, 255, 255, 0.3); /*прозрачно-белый*/;
}
.button--tomat{
	background-color: #fb565a;
}
.button--tomat:hover{
	background-color: #e74246;
}
.button--tomat:active{
	background-color: #d7373b;
}
.button--salad{
	background-color: #00ca74;
}
.button--salad:hover{
	background-color: #00bc6c;
}
.button--salad:active{
	background-color: #00aa62;
}
.button--gold{
	background-color: #efc849;
}
.button--gold:hover{
	background-color: #eab534;
}
.button--gold:active{
	background-color: #e5a722;
}
/*************/
.page{
	margin: 0;
	padding: 0;
}
/* Wrapper - это служебный блок для обеспечения центровки секций документа */
.wrapper{
	width: 100%;
}
.wrapper__container{
	max-width: 1200px;
	padding: 0;
	margin: 0 auto;
}
.header{
	background-color: #eeeeee;
}
.header__container{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	min-height: 120px;
	/*temp*/
	/*box-shadow: inset 0 0 0 1px #bbbbbb;*/
}
.header__logo{
	padding-left: 20px;
	width: 200px;
}
.header__cart{
	padding-right: 20px;
	padding-bottom: 20px;
	width: 200px;
	text-align: right;
}
.header__navigation{
	width: 700px;
	padding-bottom: 20px;
}
.logo__img{

}
.logo__link:hover{
	opacity: 0.8;
}
.logo__link:active{
	opacity: 0.3;
}
.navigation{
	
}
.navigation__list{
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	justify-content: space-around;
}
.navigation__item{
	font-family: 'Roboto Medium', Arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	color: black;
}
.navigation__item--current{
	border-bottom: 2px solid #fb565a;
}
.navigation__link,
.cart__link{
	color: inherit;
	text-decoration: none;
}
.navigation__link:active,
.cart__link:active{
	opacity: 0.3;
}
.navigation__link:hover,
.cart__link:hover{
	color: #fb565a;
}

.cart{
	font-family: 'Roboto Medium', Arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	color: black;
}
.cart--current{
	border-bottom: 2px solid #fb565a;
}
.slider{
	background-color: #eeeeee;
	margin: 0;
	padding: 0;
	list-style: none;
}
.slider__slide{
	box-sizing: border-box;
	padding: 0 20px;
}
.slide{
	min-height: 430px;
	background-position: 88% 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 85px;
}
.slide:nth-of-type(1){
	background-image: url('../img/slide1.png');
	background-repeat: no-repeat;
}
.slide:nth-of-type(2){
	background-image: url('../img/slide2.png');
	background-repeat: no-repeat;
}
.slide:nth-of-type(3){
	background-image: url('../img/slide3.png');
	background-repeat: no-repeat;
}
.slide__title{
	font-family: 'Roboto Medium', Arial, sans-serif;
	font-size: 55px;
	line-height: 55px;
	margin: 0;
	padding: 0;
}
.slide__description{
	font-family: 'Roboto Regular', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin: 28px 0 40px;
}
.slide__more{
	width: 240px;
}
/*Main Content*/
.content{

}
.content__container{
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
}
/* SERVICES */
.services{
	
}
.services__list{
	margin: 0;
	padding: 80px 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 1px 0 0 #cccccc;
}
.service__title{
	font-family: 'Roboto Bold', Arial, sans-serif;
	font-size: 24px;
	line-height: 24px;
	color: black;
	text-transform: uppercase;
}
.service__description{
	font-family: 'Roboto Regular', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
}
/******************/
.about-us{
	
}
.about-us__container{
	padding: 80px 0px;
	box-shadow: 0 1px 0 0 #cccccc;
	display: flex;
	justify-content: space-between;	
}
.about-us__content{
	
}
.about-us__title{
	font-family: 'Roboto Medium', Arial, sans-serif;
	font-size: 45px;
	line-height: 45px;
	color: black;
}
.about-us__text{
	font-family: 'Roboto Regular', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
}
.about-us__text--accent{
	font-family: 'Roboto Bold', Arial, sans-serif;
	text-transform: uppercase;
	color: black;
}

/* STATS */
.stats__title{
	font-family: 'Roboto Bold', Arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
}
.stats__percent{
	font-family: 'Roboto Bold', Arial, sans-serif;
	font-size: 45px;
	line-height: 45px;
	color: black;
}
.stats__percent--sup{
	font-size: 26px;
}
.stats__text{
	font-family: 'Roboto Regular', Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #283136;
}

/* COMPANIES */
.companies{
	margin-bottom: 80px;
}
.companies__list{
	list-style: none;
	margin: 0;
	padding: 63px 0;
	box-shadow: 0 1px 0 0 #cccccc;
	display: flex;
	justify-content: space-between;
}
.companies__link{
	opacity: 0.2;
}
.companies__link:hover{
	opacity: 1;
}
.companies__link:active{
	opacity: 0.1;
}
/* MAP  */
.location__map{
	max-width: 1400px;
	min-height: 415px;
	margin: 0 auto;
}
.location__container{
	box-sizing: border-box;
	max-width: 1200px;
	/*padding: 50px 20px;*/
	padding: 0 20px;
	display: flex;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;
	min-height: inherit;
}
.map{
	background-image: url('../img/map.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
}
/* ADDRESS CARD*/

.address-card{
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 55px 50px 50px;
	max-width: 320px;
	min-height: 310px;
}
.address-card__title{
	font-family: 'Roboto Bold', Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	margin: 0;
}
.address-card__text{
	font-family: 'Roboto Regular', Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	margin: 0;
}



/* FOOTER */
.footer__container{
	display: flex;
	-ms-align-items: center;
	align-items: center;
	box-sizing: border-box;
	padding: 0 20px;
	min-height: 220px;
}
.footer__title{
	font-family: 'Roboto Bold', Arial, sans-serif;
	font-size: 36px;
	line-height: 36px;

	margin: 0;
	padding: 0;
	padding-left: 20px;
}
.footer__text{
	font-family: 'Roboto Regular', Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;

	margin: 0;
	padding: 0;
	padding-left: 20px;
}
.footer__social{
	min-width: 300px;
}
.footer__content{
	min-width: 900px;
	padding-left: 100px;
}
.social__list{
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
}
.social__item:not(:last-child){
	margin-right: 10px;
}
.social__link{
	display: block;
	width: 78px;
	height: 78px;
	background-color: #e1e1e1;
	border-radius: 50%;
	stroke: #ffffff;
	fill: #ffffff;

	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.social__link:active{
	background-color: #d7373b;
}
.social__link:hover{
	background-color: #e74246;
}
.social__link:active svg{
	opacity: 0.3;
}



/*CATALOG*/
.catalog__head{
	font-family: 'Roboto Medium', Arial, sans-serif;
	font-size: 55px;
	line-height: 55px;
	color: black;

	background-color: #eeeeee;
	padding: 76px 0 100px;
	margin: 0;
	text-align: center;
}
.catalog__container{
	box-sizing: border-box;
	display: flex;
	/*padding: 0 20px;*/
}
.catalog__filter{
	box-sizing: border-box;
	min-width: 300px;
	padding: 60px 20px;
}
.catalog__store{
	max-width: 800px;
	margin-left: 100px;
	padding: 60px 20px 0;
}
.filter__title, .sorting__title{
	font-family: 'Roboto Bold', Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: black;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}
.options{
	font-family: 'Roboto Regular', Arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #283136;
	list-style: none;
	padding: 0;
	margin: 0;
}
.filter__submit{
	border: none;
	color: black;
	background-color: #eeeeee;
}
.filter__submit:hover{
	background-color: #dfdfdf;
}
.filter__submit:active{
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 -3px 0 0 #bfbfbf;
}

.sorting{
	display: flex;
	justify-content: space-between;
	padding-bottom: 60px;
}

.sorting__list, .sorting__orderby{
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
}
.sorting__item{
	font-family: 'Roboto Regular', Arial, sans-serif;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.302);
}
.sorting__item--current a{
	color: black;
}
.sorting__link{
	text-decoration: none;
	color: inherit;
}
.sorting__link:hover{
	color: rgba(0, 0, 0, 0.6);
}
.sorting__link:active{
	color: black;
}
.orderby__link{
	fill: #a6a6a6;
}
.orderby__item--current{
	fill: black;
}
.orderby__link:hover{
	fill: rgba(0, 0, 0, 0.6);
}
.orderby__link:active{
	fill: black;
}

.store__list{
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.store-card__title{
	font-family: 'Roboto Bold', Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: black;
	text-transform: uppercase;
}
.store-card__description{
	font-family: 'Roboto Regular', Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}
.store__pagination{
	margin-top: 60px;
	margin-bottom: 60px;
}
.pagination{
	font-family: 'Roboto Medium', Arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: black;
	text-transform: uppercase;
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}
.pagination__item{
	margin-right: 10px;
}
.pagination__button{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	min-width: 50px;
	height: 50px;
	text-decoration: none;
	color: black;
	background-color: #eeeeee;
	border-radius: 3px;
}
.pagination__link--next{
	min-width: 260px;
}
.pagination__link--current{
	background-color: #ffffff;
	box-shadow: inset 0 0 0 3px #dbdbdb;
}
.pagination__link:hover{
	background-color: #dfdfdf;
}
.pagination__link:active{
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 -5px 0 0 #d7dcde;
}
/* Write-us */
.write-us{
	box-sizing: border-box;
	max-width: 960px;
	min-height: 590px;
	padding: 70px 100px 80px 100px;
	box-shadow: 0px 3px 20px 2px rgba(0,0,0,0.75);
}
.write-us__form{
	display: flex;
}
.write-us__title{
	font-family: 'Roboto Medium', Arial, sans-serif;
	font-size: 45px;
	line-height: 45px;
	color: black;
}
.write-us__label{
	font-family: 'Roboto Bold', Arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 5px;
}
.write-us__field{
	font-family: 'Roboto Regular', Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	display: block;
	border: 2px solid #d7dcde;
	border-radius: 3px;
}
.write-us__field:hover{
	border-color: #b4b9bb;
}
.write-us__field:focus{
	border-color: black;
	outline: none;
}
.write-us__field--invalid{
	border-color: #e74246;
	color: #e74246;
}
.write-us__button{
	border: none;
}

/* temp */
.modal{
	margin: 0 auto;
	margin-bottom: 210px;
}